@font-face {
  font-family: "Nord";
  src: 
    url('./assets/fonts/Norse.woff2') format('woff2'), 
    url('./assets/fonts/Norse.woff') format('woff');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
}

.left-side {
  background-image: url('./assets/img/background-img.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100vh;
  width: 50%;
  color: white;
  gap: 25rem;
  padding: 1rem;
}

.left-side div {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.left-side div p {
  font-family: 'Nord', system-ui, sans-serif;
  font-size: 5rem;
  font-weight: 700;
}

.left-side img {
  width: 100px;
}

.left-side > p a {
  color: white;
}

.right-side {
  font-family: system-ui, sans-serif;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}

.right-side > div {
  width: 100%;
}

.intro {
  font-size: 1.4rem;
  margin-left: 3rem;
  font-weight: 600;
  max-width: 53ch;
}

p.intro + p.intro {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.intro span {
  font-style: italic;
}

form {
  width: 100%;
}

.form-controls {
  padding: 1rem 3rem;
  background-color: white;
  box-shadow: 0 5px 5px #ccc;
}

form h1 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  gap: 5rem;
  margin-bottom: 1rem;
}

.form-cell {
  display: flex;
  flex-direction: column;
  width: 30%; 
}

.form-cell label {
  font-size: .9rem;
  letter-spacing: 0.12rem;
  font-weight: 600;
  text-transform: uppercase;
}

.form-cell input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: .3rem .5rem ;
  font-size: 1rem;
  font-family: system-ui, sans-serif;
  outline: none;
  transition: all .2s ease-in-out;
}

.form-cell input:focus {
  border: 1px solid blue;
  box-shadow: 3px 5px 5px #ddd;
  transition: all .2 ease-in-out;
}

.form-cell input:invalid {
  border-color: red;
}

form button {
  background-color: #416e19;
  margin-top: 2rem;
  margin-left: 3rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: .7rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

form button:active {
  transform: scale(1.1);
  transition: all .1s ease-in-out;
}

.right-side p:not(.intro) {
  margin-left: 3rem;
  margin-top: 2rem;
}

.right-side a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: all .05s ease-in-out;
}

.right-side a:active {
  color: #aaa;
  transition: all .05s ease-in-out;
}