*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.right-side {
  font-family: system-ui, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  font-size: 1rem;
  font-weight: 600;
  width: 75ch;
}

p.intro + p.intro {
  margin-top: 1.5rem;
}

.intro span {
  font-style: italic;
}